html, body, #mapDiv,#modal {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    font-family: "微软雅黑";
}
/*等待图片*/
#modal{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999;
    background: #000000;
    opacity: 0.6;
    display: none;
}
#modal .modal-wait{
    position: absolute;
    top: 40%;
    left: 45%;
    background: url(../images/loading.gif) no-repeat;
    width: 124px;
    height: 124px;
    color: #fff;
    padding: 56px 41px;
    font-weight: bold;
}
/*顶部工具栏*/
.map-nav{
    font-size: 12px;
    position: absolute;
    top: 10px;
    left: 30%;
    z-index: 99;
    border: 1px solid #96AED1;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #868686;
    padding: 5px;
    background: rgba(255,255,255,0.5);
}
/*地图切换*/
.base-map{
    position: absolute;
    right: 15pt;
    top:15pt;
    background: #f0f0f0;
    border: #96aed1 1px solid;
    width: auto;
    height: auto;
    z-index: 99;
    font:normal 11px "宋体",Arial;
    color:#868686;
}
.base-map-switch{
    padding: 4px 8px;
    float: left;
}
.base-map-switch-active{
    background:#e6edf1;
    font-weight: bold;
    color: #4d4d4d;
}
.base-map-switch:hover{
    cursor: pointer;
}
.base-map-switch-center{
    border: 1px #96aed1 solid;
    border-top:none;
    border-bottom:none;
}
/*左边工具栏*/
.map-resource{
    position: absolute;
    top: 100px;
    left: 15px;
    z-index: 99;
    border: 1px solid #96AED1;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #868686;
    background:  rgba(255,255,255,0.5);
    text-align: center;
}
.map-resource button{
    width: 90px;
    margin:3px 5px;
}
.box-title{
    background: #96AED1;
    color: #FFFFFF;
    font-size: 12px;
    text-align: left;
    font-weight: bold;
    padding: 5px 10px;
}
/*查询控制面板*/
.ftch-query{
    position: absolute;
    top: 70px;
    right: 20px;
    z-index: 99;
    border: 1px solid #96AED1;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #868686;
    background: #FFFFFF;
    text-align: center;
    display: none;
}
.ftch-query .box-close{
    float: right;
    width:16px;
    height: 16px;
    margin: 5px 1px;
    cursor: pointer;
    color: #ffffff;
}
/*.ftch-query label{
	margin:3px 5px;

}
.ftch-query ul{
	list-style: none;
	width: 200px;
}
.ftch-query ul li{
	padding: 5px 8px;
    border-bottom: 1px dashed #CCCCCC;
    margin-left: -30px;
    text-align: left;
    width: 244px;
}
.ftch-query ul li.active,li:hover{
	background: #9DD5E7;
	cursor: pointer;
}
.ftch-query .page-ctrl p a{
	margin-left: 10px;
}
.ftch-query .page-ctrl p a:hover{
	cursor: pointer;
	text-decoration: underline;
}
.ftch-query button{
	margin:3px 5px;
}*/
/*查询结果*/
.timer-box {
    /*width: 200px;
    height: 250px;*/
    border: 1px solid #CCCCCC;
    box-shadow: 1px 1px 1px #bbbbbb;
}

.timer-box ul {
    list-style: none;
    max-height: 200px;
    overflow-y: auto;
    padding:0;
    margin: 1px 0px;
}

.timer-box ul li {
    border-bottom: 1px dashed #dddddd;
    padding: 3px 0px;
    margin-left: -40px;
    text-align: center;
}
.timer-box ul li:hover {
    cursor:pointer;
}
.timer-box ul li.active {
    background: #DDDDDD;
}

.timer-box div.ctrl-button {
    text-align: center;
    margin: 10px 0px 4px 0px;
}
